body{
    height: 100vh;
}
.head{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.address{
    font-weight: bold;
    font-size: 18px;
    font-family: sans-serif;
}

#heading_1{
    font-weight:300px;
    font-size: 30px;
    text-align: center;
    font-family: sans-serif;
}
.form_body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    height: 300px;
    width: 600px;
    border: 2px solid black;
    border-radius: 10px;
    padding:20px;
}

.submit{
    font-size:bold;
    color: rgb(232, 243, 235);
    background-color: rgb(225, 25, 28);
    border-radius: 15px;
    padding: 5px 10px 5px 10px;
    border-style: none;

}
.submit_1{
    margin: 20px;
    text-align: center;
}


